@import "compass/reset";
@import "compass/css3/flexbox";
@import "compass/css3/font-face";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/css3/transform";

$font-stack: "Maison Neue Medium", Helvetica, Arial, sans-serif;
$font-size: 15px;

$heading-color: #6934D1;
$sub-heading-color: #ABC5F5;
$p-color: #242424;
$p-title-color: #404040;
$link-color: #3B58FF;

$fly-color: rgb(0, 196, 186);
$tp-color: rgb(255, 0, 0);
$sealab-color: rgb(63, 135, 217);
$romance-color: rgb(244, 120, 30);
$portfolio-color: #71C7E3;

//z-indices
$z-neg1: -1;
$z-1: 10;
$z-2: 20;
$z-3: 30;

$default-transition-duration: 0.5s;

@function black-alpha($alpha) {
  @return hsla(0deg, 0%, 0%, $alpha);
}

.wf-loading body {
    opacity: 0.2;
}

%text {
  font-family: $font-stack;
  font-size: $font-size;
  text-align: left;
  text-decoration: none;
}

#title {
  font-family: $font-stack;
  text-align: center;
  color: $heading-color;
  font-size: $font-size * 3;
  padding-top: $font-size * 10;
  padding-bottom: $font-size * 2;
}

#sub-title {
  @extend #title;
  color: $sub-heading-color;
  font-size: $font-size * 2;
  padding-top: 0;
  padding-bottom: $font-size * 6;
}

%top-link {
  @extend %text;
  position: fixed;
  top: 20px;
  text-decoration: none;
  font-size: $font-size * 2;
  color: $link-color;
}

#contact {
  @extend %top-link;
  right: 20px;
}

.visible {
  visibility: visible;
  opacity: 1.0;
  @include transition;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  @include transition;
}

#contact-popup-container {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black-alpha(0.1);
  z-index: $z-2;
} 

#contact-popup {
  background-color: white;
  width: 600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  z-index: $z-3;
  @include border-radius(5px);
  @include single-box-shadow(0px, 5px, 60px, 10px, black-alpha(0.3));
  @include display-flex;
  @include flex-direction(column);
  @include translateY(20%);
}

#contact-sub-container {
  margin: auto;
  height: 325px;
  max-width: 350px;
  @include display-flex;
  @include flex-direction(column);

  p {
    @extend %text;
    font-size: $font-size * 1.5;
    margin: $font-size * 1 0;
    color: $p-color;

    &:last-of-type {
      margin-bottom: $font-size * 3;
    }
  }

  a {
    @extend %text;
    display: block;
    width: auto;
    font-size: $font-size * 1.5;
    margin: $font-size * 1 0;
    color: $link-color;
    text-align: right;

    &:hover {
      text-decoration: underline;
    }
  }
}

#home {
  @extend %top-link;
  left: 20px;
}

.project {
  @extend %text;
  font-size: $font-size * 4;
  height: $font-size * 12;
  @include display-flex;
  a {
    text-decoration: none;
    margin: auto;
  }
}

@mixin project-link($color) {
  color: $color;
  padding-bottom: 3px;

  &:hover {
    border-bottom: 3px solid $color;
    padding-bottom: 0px;
  }
}

#fly {
  @include project-link($fly-color);
}

#trade-paper {
  @include project-link($tp-color);
}

#sealab {
  @include project-link($sealab-color);
}

#romance {
  @include project-link($romance-color);
}

#portfolio {
  @include project-link($portfolio-color);
}

.role {
  @include display-flex;
  @include flex-direction(column);
  margin: auto;
  width: 60%;
  max-width: 575px;

  p {
    @extend %text;
    line-height: $font-size * 1.5;
    display: inline-block;
    margin: $font-size 0;
    color: #242424;

    .p-title {
      @extend %text;
      display: inline-block;
      font-size: $font-size * 1.5;
      color: #404040;
    }
  }
}

.screen-cap {
  @include display-flex;
  @include flex-direction(column);
  margin: 0 auto $font-size * 2 auto;
  width: 100%;
  max-width: 900px;
}

#fly-screen {
  max-width: 435px;
}

.visit {
  @extend %text;
  color: $link-color;
  padding-bottom: 2px;

  &:hover {
    border-bottom: 2px solid $link-color;
  }
}

.visit-container {
  margin-bottom: $font-size;
}

#footer {
  height: 150px;
}
