html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

.wf-loading body {
  visibility: hidden; }

#contact, #home, #contact-sub-container p, #contact-sub-container a, .project, .role p, .role p .p-title, .visit {
  font-family: "Maison Neue Medium", Helvetica, Arial, sans-serif;
  font-size: 15px;
  text-align: left;
  text-decoration: none; }

#title, #sub-title {
  font-family: "Maison Neue Medium", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #6934D1;
  font-size: 45px;
  margin-top: 60px;
  margin-bottom: 30px; }

#sub-title {
  color: #ABC5F5;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 75px; }

#contact, #home {
  position: fixed;
  top: 20px;
  text-decoration: none;
  font-size: 30px;
  color: #3B58FF; }

#contact {
  right: 20px; }

.z-neg1 {
  z-index: -1; }

.z-1 {
  z-index: 10; }

.z-2 {
  z-index: 20; }

.z-3 {
  z-index: 30; }

#contact-popup-bg {
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
  display: -webkit-flex;
  display: flex;
  background-color: rgba(0, 0, 0, 0.1); }

#contact-popup-container {
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
  display: -webkit-flex;
  display: flex; }

#contact-sub-container {
  width: 80%;
  max-width: 400px;
  margin: auto; }
  #contact-sub-container p {
    font-size: 22.5px;
    margin: 22.5px 0;
    color: #242424; }
    #contact-sub-container p:last-of-type {
      margin-bottom: 90px; }
  #contact-sub-container a {
    display: block;
    width: auto;
    font-size: 22.5px;
    margin: 22.5px 0;
    color: #3B58FF;
    text-align: right; }
    #contact-sub-container a:hover {
      text-decoration: underline; }

#contact-popup {
  background-color: white;
  width: 80%;
  height: 400px;
  max-width: 600px;
  margin: auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 5px 60px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 5px 60px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 60px 10px rgba(0, 0, 0, 0.3);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }

#home {
  left: 20px; }

.project {
  font-size: 60px;
  height: 180px;
  display: -webkit-flex;
  display: flex; }
  .project a {
    text-decoration: none;
    margin: auto; }

#fly {
  color: #00c4ba;
  padding-bottom: 3px; }
  #fly:hover {
    border-bottom: 3px solid #00c4ba;
    padding-bottom: 0px; }

#trade-paper {
  color: red;
  padding-bottom: 3px; }
  #trade-paper:hover {
    border-bottom: 3px solid red;
    padding-bottom: 0px; }

#sealab {
  color: #3f87d9;
  padding-bottom: 3px; }
  #sealab:hover {
    border-bottom: 3px solid #3f87d9;
    padding-bottom: 0px; }

#romance {
  color: #f4781e;
  padding-bottom: 3px; }
  #romance:hover {
    border-bottom: 3px solid #f4781e;
    padding-bottom: 0px; }

#portfolio {
  color: #71C7E3;
  padding-bottom: 3px; }
  #portfolio:hover {
    border-bottom: 3px solid #71C7E3;
    padding-bottom: 0px; }

.role {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: auto;
  width: 60%;
  max-width: 575px; }
  .role p {
    line-height: 22.5px;
    display: inline-block;
    margin: 15px 0;
    color: #242424; }
    .role p .p-title {
      display: inline-block;
      font-size: 22.5px;
      color: #404040; }

.screen-cap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 0 auto 30px auto;
  width: 100%;
  max-width: 900px; }

#fly-screen {
  max-width: 435px; }

.visit {
  color: #3B58FF;
  padding-bottom: 2px; }
  .visit:hover {
    border-bottom: 2px solid #3B58FF; }

#footer {
  height: 100px; }

/*# sourceMappingURL=style.css.map */
