<div id='contact-popup-container' class="hidden">
  <div id='contact-popup'>
    <div id='contact-sub-container'>
      <p>Please feel free to get in touch!</p>
      <p>Email, call, text, or tweet me:</p>
      <a href='mailto:eli@edbed.be' id='email'>eli@edbed.be</a>
      <a href='tel:+1-917-757-8169' id='phone'>(917) 757-8169</a>
      <a href='https://twitter.com/edbedbe' id='twitter' target='_blank'>Twitter</a>
      <a href='https://github.com/edbedbe' id='github' target='_blank'>Github</a>
    </div>
  </div>
</div>
<a href='#' id='contact'>Contact</a>
