{% include "website/header.html" %}
{% include "website/contact.html" %}
<a href='{% url "home" %}' id='home'>Home</a>
<div id='project-container'>
  <div class='project'>
    <a href='#' id='fly'>FLY</a>
  </div>
  {% load staticfiles %}
  <img class='screen-cap' id='fly-screen' src="{% static 'website/images/fly.png' %}">
  <div class='role'>
    <div class="visit-container">
      <a class='visit' href='http://editonthefly.com'>editonthefly.com</a>
    </div>
    <p><span class="p-title">Role:&nbsp;&nbsp;</span>Founding iOS developer</p>
    <p id="description">Fly, bought by Google in November 2015, is a suite of video editing apps for iOS. At the center of the apps are playful and intuitive gestures that belie unexpected power and advanced functionality. </p>
    <p>I worked as a core iOS developer, prototyping and developing new features, as well as refining existing functionality and interactions. From integrating peer-to-peer connectivity to making new editing modes feel deceptively seamless, this complex app demanded a constant foray into the unknown.</p>
    <p>Over a million downloads from the App Store offered an immense opportunity to refine the app's utility and accessibility.</p>
  </div>
</div>
{% include "website/footer.html" %}
