<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Eli Bierman</title>
    {% load staticfiles %}
    <link href="{% static 'website/style.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'website/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/script.js' %}"></script>
  </head>
  <body>
