{% include "website/header.html" %}
{% include "website/contact.html" %}
<h2 id='title'>Eli Bierman</h2>
<h3 id='sub-title'>iOS & Web Development</h3>
<div id='project-container'>
  <div class='project'>
    <a href='{% url "fly" %}' id='fly'>FLY</a>
  </div>
  <div class='project'>
    <a href='{% url "tradepaper" %}' id='trade-paper'>trade-paper</a>
  </div>
  <div class='project'>
    <a href='{% url "sealab" %}' id='sealab'>Sealab Music</a>
  </div>
  <div class='project'>
    <a href='{% url "romance" %}' id='romance'>Beyond Romance</a>
  </div>
</div>
{% include "website/footer.html" %}
