{% include "website/header.html" %}
{% include "website/contact.html" %}
<a href='{% url "home" %}' id='home'>Home</a>
<div id='project-container'>
  <div class='project'>
    <a href='#' id='romance'>Beyond Romance</a>
  </div>
  {% load staticfiles %}
  <img class='screen-cap' src="{% static 'website/images/romance.png' %}">
  <div class='role'>
    <div class="visit-container">
      <a class='visit' href='http://benbierman.com'>benbierman.com</a>
    </div>
    <p><span class="p-title">Role:&nbsp;&nbsp;</span>Designer & developer</p>
    <p id="description">When my dad released his last album, he was looking for an updated web presence to help promote the release. The album artwork is a picture of his interlocked ring-clad hands. </p>
    <p>I wanted the site to be informative and stand for him professionally, while emphasizing the album by playing off of the strong images and colors of its artwork.</p>
  </div>
</div>
{% include "website/footer.html" %}
