{% include "website/header.html" %}
{% include "website/contact.html" %}
<a href='{% url "home" %}' id='home'>Home</a>
<div id='project-container'>
  <div class='project'>
    <a href='#' id='sealab'>Sealab Music</a>
  </div>
  {% load staticfiles %}
  <img class='screen-cap' src="{% static 'website/images/sealab.png' %}">
  <div class='role'>
    <div class="visit-container">
      <a class='visit' href='http://sealabmusic.com'>sealabmusic.com</a>
    </div>
    <p><span class="p-title">Role:&nbsp;&nbsp;</span>Designer & full-stack developer</p>
    <p id="description">My good friends whose music I adore told me they were looking for a professional site, and I leapt for the opportunity to build it for them. I wanted their site to be something they could feel proud of. Their music is unique, and I felt their site should be uniquely suited for them. </p>
    <p>We worked together to settle on a calming design with a morphing background that lends a subtle psychedelic vibe to your visit. The most technically challenging part of the site's development was creating a way for the background to continue its slow transformation as you navigate between pages on the site, and not be interrupted by page reloads. The site is there for the music, so please listen if you visit.</p>
  </div>
</div>
{% include "website/footer.html" %}
