{% include "website/header.html" %}
{% include "website/contact.html" %}
<a href='{% url "home" %}' id='home'>Home</a>
<div id='project-container'>
  <div class='project'>
    <a href='#' id='trade-paper'>trade-paper</a>
  </div>
  {% load staticfiles %}
  <img class='screen-cap' src="{% static 'website/images/trade-paper.png' %}">
  <div class='role'>
    <div class="visit-container">
      <a class='visit' href='http://trade-paper.com'>trade-paper.com</a>
    </div>
    <p><span class="p-title">Role:&nbsp;&nbsp;</span>Full-stack developer</p>
    <p id="description">trade-paper is a service created to connect readers of small publications with each other and help them trade their shelved issues for unread ones. It is a web app currently in development, designed by Amardeep Singh.</p>
    <p>Together we are building a system for people to upload magazines, request trades for magazines they want, and manage the trade from negotiation through shipment. I am responsible for building the backend, managing the infrastructure, and all technical oversight. It is a rewarding and exciting endeavor, and will soon be opened up as a public beta.</p>
  </div>
</div>
{% include "website/footer.html" %}
